<!DOCTYPE html>
{% block content %}
{% load static %}

	<head>
		<meta charset="utf-8">
		<title>Smart Parking ITB</title>
		<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
	</head>
	<body>
		<div class="container">
			<svg xmlns="http://www.w3.org/2000/svg" width="12.707" height="11.414" viewBox="0 0 12.707 11.414">
				<a href="/userfe/"><g id="Group_8" data-name="Group 8" transform="translate(0.707 0.707)">
					<line id="Line_11" data-name="Line 11" x1="12" transform="translate(0 5)" fill="none" stroke="#707070" stroke-width="2"/>
					<line id="Line_13" data-name="Line 13" x1="5" y2="5" fill="none" stroke="#707070" stroke-width="2"/>
					<line id="Line_14" data-name="Line 14" x1="5" y1="5" transform="translate(0 5)" fill="none" stroke="#707070" stroke-width="2"/>
				</g></a>
			</svg>

			<div class=header>
				<svg xmlns="http://www.w3.org/2000/svg" width="360" height="45" viewBox="0 0 327 45">
					<text id="Welcome_to_Campvibes_" data-name="Welcome to Campvibes!" fill="#254f6e" font-size="26" font-family="SegoeUI-Bold, Segoe UI" font-weight="700"><tspan x="129.299" y="28">Login</tspan></text>
				</svg>

				<svg xmlns="http://www.w3.org/2000/svg" width="360" height="20" viewBox="0 0 88 20">
					<line id="blue_divider_line" data-name="blue divider line" x2="88" transform="translate(0 1)" fill="none" stroke="#000" stroke-width="2"/>
				</svg>
			</div>
			
			<div id="content">
				<center>
					<form method="post">
						{% csrf_token %}
						<!-- {{ form.as_p }} -->
						<input type="text" id="uname" name="username" placeholder="Username">
						<input type="password" id="pass" name="password" placeholder="Password">
						<h3>
							<button type="submit">Sign In</button>
						</h3>
					</form>
				</center>	
			</div>
			
		</div>
	</body>

	

{% endblock %}