body {
	
}

.container {
	width: 360px;
	height: 640px;
	margin: 0 auto;
}

.header {
	width: 360px;
	margin: 0 auto;
}

.content {
	width: 360px;
	margin: 0 auto;	
}

.locID {
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  border-radius: 4px;
  margin: 10px 6px 40px 0px;
}

teks {
	padding: 0px 30px 0px 0px;
	font-family: Segoe UI;
	color: white;
	font-size: 13px
}

input[type=text] {
	font-family: Open Sans;
	margin: 0px 0px 0px 0px;
	width: 220px;
	height: 40px;
	padding-left: 20px;
	color: #2E2E2E;
	background-color: #B7B7B7;
	border: 2px solid white;
	border-radius: 12px;
}

input[type=submit] {
	margin: 0px 0px 0px 0px;
	width: 100px;
	height: 40px;
	color: #254F6E;
	background-color: white;
	border: 2px solid #254F6E;
	border-radius: 12px;
}